[data-component='Admin'] {
  --heightH: 3rem;

  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .admin-content {
    display: flex;
    --widthB: calc(100% - var(--heightH));
    height: var(--widthB);
    flex: 1;
  }
  [data-component='Header'] {
    height: var(--heightH);
    height: 3rem;
  }
  [data-component='Silder'] {
    width: 200px;
    padding-top: 10px;
    position: relative;
    background: var(--background-color);
    background-color: #393D49;
    color: var(--font-color);
    color:#A6ADB4;

    [data-component='SilderTabs'] {
      &.Dark{
        .silder-menu.ant-menu{
          background: var(--background-color);
          background-color: #393D49;
          color: var(--font-color);
          color:#A6ADB4;
          border-right:none;
          .ant-menu-item{
            &:hover{
              color: var(--hover-font-color);
              color: #FFFFFF;
            }
            &.ant-menu-item-selected{
              background: var(--header-border-color);
              background: #1890ff;
              color: var(--hover-font-color);
              color: #FFFFFF;
            }
          }

          .ant-menu-sub.ant-menu-inline{
            background: var(--background-color);
            background-color: #393D49;
            color: var(--font-color);
            color:#A6ADB4;
          }
        }
      }
    }

    .silder-menu.ant-menu{
      border-right:none;
      .ant-menu-item{
        &:hover{
          color: var(--hover-font-color);
          color: #FFFFFF;
        }
        &.ant-menu-item-selected{
          color: var(--hover-font-color);
          color: #FFFFFF;
          >a{
            color: var(--hover-font-color);
            color: #FFFFFF;
            opacity: 0.8;
            &:hover {
              opacity:1;
              color: var(--hover-font-color);
              color: #FFFFFF;
            }
          }
        }
        >a{
          color: var(--font-color);
          color:#A6ADB4;
          &:hover {
            color: var(--hover-font-color);
            color: #FFFFFF;
          }
        }
      }
    }
  }

  [data-component='Content'] {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  [data-component='Footer'] {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    border-top: 1px solid var(--header-border-color);
    border-top: 1px solid #1890ff;
    text-align: center;

    p {
      text-align: center;
    }
  }

  [data-component='MyProfile'] {
    padding: 25px;
    .ant-form{
      .ant-row{
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        .ant-form-item-control{
          line-height: 1;
        }
        .ant-form-item-label{
          width: 5em;
          text-align: right;
        }
        .my-form-item-control{
          height: 32px;
          line-height: 32px;

        }
        .avatar-uploader{
          .ant-upload.ant-upload-select-picture-card{
            width: 70px;
            height: 70px;
            margin: 0;
          }
        }
      }
    }
  }
}
